<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/" class="container-logo">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="...">
            </a>
            <div class="search-header">
                <input type="search" placeholder="Buscar productos, marcas" />
                <button class="button-search"><i class="fa fa-search"></i></button>
            </div>            
            <h2 class="copy-header">
                <i class="fa fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        <a href="#" class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
           
            <ul class="right-navbar">
                <li>
                    <a href="/register">
                        Creá tu cuenta
                        <i class="fa fa-id-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Ingresá
                        <i class="fa fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mis compras
                        <i class="fa fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg" width="100%">
        <section class="visita">
            <h2 class="titulo">Basado en tu última visita</h2>
            <div class="main-items">
                <article>
                    <img 
                        width="100%"
                        src="images/img-cafetera-moulinex.jpg" 1
                        alt="imagen de la cafetera">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <strong class="descripcion">Cafetera Moulinex</strong>
                    </div>
                </article>
                <article>
                    <img 
                        width="100%"
                        src="images/img-macbook-pro-2019.jpg" 
                        alt="imagen de MacBook">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <strong class="descripcion">MacBook Pro 2019</strong>
                    </div>
                </article>
                <article>
                    <img 
                        width="100%"
                        src="images/img-samsung-galaxy-s10.jpg" 
                        alt="imagen de Telefono">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <strong class="descripcion">Telefono Samsung</strong>
                    </div>
                </article>
                <article>
                    <img 
                        width="100%"
                        src="images/img-tv-samsung-smart.jpg" 
                        alt="imagen de Samsung">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <strong class="descripcion">Samsung 43"</strong>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="titulo">Ofertas</h2>
            <div class="main-items">
                <article>
                    <img 
                        width="100%"
                        src="images/img-cafetera-moulinex.jpg" 1
                        alt="imagen de la cafetera">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <strong class="descripcion">Cafetera Moulinex</strong>
                    </div>
                </article>
                <article>
                    <img 
                        width="100%"
                        src="images/img-macbook-pro-2019.jpg" 
                        alt="imagen de MacBook">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <strong class="descripcion">MacBook Pro 2019</strong>
                    </div>        
                </article>
                <article>
                    <img 
                        width="100%"
                        src="images/img-cafetera-moulinex.jpg" 1
                        alt="imagen de la cafetera">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <strong class="descripcion">Cafetera Moulinex</strong>
                    </div>
                </article>
                <article>
                    <img 
                        width="100%"
                        src="images/img-macbook-pro-2019.jpg" 
                        alt="imagen de MacBook">
                    <div class="detalles">
                        <i class="fa fa-truck"></i>
                        <div class="row-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <strong class="descripcion">MacBook Pro 2019</strong>
                    </div>        
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="footer-icon">
                <a href="#"><i class="fa fa-credit-card"></i></a>
            </div>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="footer-icon">
                <a href="#"><i class="fa fa-gift"></i></a>
            </div>
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="footer-icon">
                <a href="#"><i class="fa fa-user-shield"></i></a>
            </div>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
    </footer>
</body>
</html>